body{background-color: LightBlue}
h1{color: black; text-align: center}
img{margin: 0px auto 0px auto; display: block}
img{border: 10px solid; border-color: white}
h3{color: black; text-align: center}
